@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Trocchi&display=swap');


:root {
    --columns-row: 2;
  }
  

.container {
    display: grid;
    grid-template-columns: repeat(var(--columns-row), 1fr);  
    width: 500px;
    height: 500px;
    
}

div {
   border: 1px groove rgb(138, 138, 132);
}

.reset {
    size: 20px;
}

body {
    background-image: url('https://img.freepik.com/free-vector/pastel-vector-dull-pastel-abstract-textured-background_53876-110546.jpg?w=2000');
    background-size: cover;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.git {
    display: flex;
    flex-direction: column;
    margin-top: -5px;
}

h1 {
    font-family: "Trocchi", serif;
}