:root {
    --columns-row: 2;
  }
  

.container {
    display: grid;
    grid-template-columns: repeat(var(--columns-row), 1fr);  
    width: 600px;
    height: 600px;
    
}

div {
   border: 1px groove rgb(138, 138, 132);
}

.reset {
    size: 20px;
}

body {
    background-image: url('https://p0.piqsels.com/preview/187/979/746/pencils-yellow-business-drawing.jpg');
    background-size: cover;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.git {
    display: flex;
    flex-direction: column;
    margin-top: -5px;
}